.slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 106px;
}

.slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 0;
  overflow: hidden;
}

.centerSlideImg {
  width: 292px;
  height: 409px;
  object-fit: cover;
}

.sideSlideImg {
  width: 251px;
  height: 352px;
}

.slide {
  position: relative;
}

.centerSlide {
  z-index: 5;
}

.leftSlide,
.rightSlide {
  z-index: 2;
}

.leftSlide {
  transform: translateX(-9px);
}

.rightSlide {
  transform: translateX(9px);
}

.slider__arrow {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 4;
  width: 14px;
  height: 38px;
}

.slider__arrowLeft {
  left: calc(50% - 155px);
}

.slider__arrowRight {
  right: calc(50% - 155px);
}

@media (min-width: 768px) {
  .slider__container {
    position: relative;
    width: 728px;
    margin: 0 auto;
  }

  .slider__arrowLeft {
    left: calc(50% - 363px);
  }

  .slider__arrowRight {
    right: calc(50% - 363px);
  }

  .centerSlideImg {
    width: 221px;
    height: 408px;
    object-fit: cover;
  }

  .sideSlideImg {
    width: 221px;
    height: 350px;
  }

  .leftSlide {
    transform: translateX(-4px);
  }

  .rightSlide {
    transform: translateX(4px);
  }
}

@media (min-width: 1228px) {
  .slider__container {
    width: 880px;
    margin: 0 auto;
  }

  .slider__arrowLeft {
    left: calc(50% - 439px);
  }

  .slider__arrowRight {
    right: calc(50% - 439px);
  }

  .centerSlideImg {
    width: 292px;
    height: 409px;
  }

  .sideSlideImg {
    width: 251px;
    height: 352px;
  }

  .leftSlide {
    transform: translateX(-9px);
  }

  .rightSlide {
    transform: translateX(9px);
  }
}
