/* AboutPage.module.css */

.main {
    padding: 20px;
    line-height: 1.6;
}

.container {
    max-width: 320px;
    margin: 0 auto;
}

.title {
        font-family: var(--font-lora);
        font-size: 40px;
        font-weight: 400;
        line-height: 51.2px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 34px;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.aboutImage {
    display: block;
    margin: 0 auto;
    width: 320px;
    height: 482px;
}

.aboutText{
        font-family: var(--font-inter);
        font-size: 18px;
        font-weight: 400;
        line-height: 21.78px;
        text-align: left;
        margin-bottom: 24px;
}

.aboutText:last-child {
    margin-bottom: 0;
}

.illustration {
    margin-top: -50px;
        text-align: right;
}

.illustration img {
    width: 184px;
    height: 253px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .title {
            font-size: 64px;
            line-height: 81.92px;
            text-align: center;
            margin-bottom: 48px;
    }

    .aboutContent {
        flex-direction: row;
        justify-content: space-between;
        gap: 29px;
    }

    .aboutImage {
        width: 344px;
        height: 518px;
    }

    .aboutText {
        max-width: 355px;
    }

        .illustration {
            position: relative;
        }

        .illustration img {
            position: absolute;
                top: -380px;
                    left: 190px;
                width: 184px;
                height: 253px;
        }
}

@media screen and (min-width: 1228px) {
    .container {
        max-width: 1228px;
    }

    .aboutContent {
        gap: 46px;
    }

    .aboutImage {
        width: 474px;
        height: 712px;
    }

    .aboutText {
        max-width: 708px;
    }

    .illustration img {
        top: -190px;
            left: auto;
            right: 0;
    }
}