/*!********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/collections/[collectionId]/CollectionPage.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************/
.CollectionPage_main__vyyEb {
    padding: 20px;
    text-align: center;
}

.CollectionPage_title__onFMS {
    font-size: 2rem;
    margin-bottom: 20px;
}

.CollectionPage_image__4wYOi {
    margin: 0 auto;
    display: block;
}

.CollectionPage_description__HFDmF {
    margin-top: 20px;
    font-size: 1.2rem;
}
