/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/Icon/Icon.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Icon_iconButton__yY2i9 {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}

.Icon_iconButton__yY2i9:hover {
    color: #0070f3;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/collections/[collectionId]/CollectionPage.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************/
.CollectionPage_main__vyyEb {
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CollectionPage_title__onFMS {
    font-family: var(--font-lora);
    font-size: 40px;
    font-weight: 400;
    line-height: 81.92px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 24px;
}

/* Сетка для продуктов */
.CollectionPage_productsGrid__pIbkq {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 48px;
  gap: 48px;
  width: 100%;
  max-width: 1228px;
  justify-items: center;
}

/* Карточка продукта */
.CollectionPage_productCard__kcz51 {
  background: #fff;
  overflow: hidden;
  width: 292px;
}

/* Обертка для изображения и кнопки */
.CollectionPage_imageWrapper__Mfq8u {
  position: relative;
  width: 100%;
  height: auto;
}

.CollectionPage_productImage__HN5Va {
  width: 100%;
  object-fit: cover;
}

/* Кнопка "Добавить в корзину" */
.CollectionPage_addToCart__ojKW7 {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: var(--white-color);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.CollectionPage_addToCart__ojKW7 img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CollectionPage_productInfo__j6izm {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.CollectionPage_productName__ksJ_v {
    font-family: var(--font-inter);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
}

.CollectionPage_productPrice__s_OR2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: right;
}

@media screen and (min-width: 768px) {

  .CollectionPage_main__vyyEb {
    padding: 48px 20px;
  }

  .CollectionPage_title__onFMS  {
      font-size: 64px;
      margin-bottom: 48px;
  }

  .CollectionPage_productsGrid__pIbkq {
    gap: 48px 20px;
  }
}
