.searchBar {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-color);
  padding: 8px 12px;
  width: 200px;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  color: var(--primary-color);
}

.searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}

.closeButton img {
  display: flex;
  width: 24px;
  height: 24px;
}

.searchButton {
  display: flex;
  margin-right: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid var(--primary-color);
  width: 200px;
  max-height: 500px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

.dropdownItem {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 18px;
    color: var(--primary-color);
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.noResults {
  padding: 10px 15px;
  color: #888;
  font-size: 14px;
}
@media (min-width: 768px) {
  .searchBar {
    width: 587px;
  }

  .dropdownMenu {
    width: 587px;
  }
}

@media screen and (min-width: 1228px) {
  .searchBar {
    width: 396px;
  }

  .dropdownMenu {
    width: 396px;
  }
}
