.searchBar {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-color);
  padding: 8px 12px;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  color: var(--primary-color);
}

.searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.closeButton img {
  display: flex;
  width: 24px;
  height: 24px;
}

.searchButton {
  display: flex;
  margin-right: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .searchBar {
    min-width: 587px;
  }
}

@media screen and (min-width: 1228px) {
  .searchBar {
    min-width: 396px;
  }
}
