.menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menuItem {
  font-size: 18px;
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
}

.menuItem.active {
  color: var(--black-color);
}

