.menuButton {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
}

.mobileMenu {
  position: fixed;
  top: 118px;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--white-color);
  z-index: 20;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.mobileMenuOpen {
  transform: translateX(0);
}

.mobileMenuContainer {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 24px;
}

.mobileMenuItem {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  padding: 33px 0;
  color: var(--black-color);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  border-bottom: 1.5px solid var(--primary-color);
}

.mobileMenuItem:first-child {
  border-top: 1.5px solid var(--primary-color);
}

.authLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-bottom: 1.5px solid var(--primary-color);
}

.authLink {
  color: var(--black-color);
  text-decoration: none;
  font-size: 18px;
}

.active {
  color: var(--black-color);
}

@media (min-width: 768px) {
  .mobileMenuContainer {
    max-width: 728px;
  }
}

@media (min-width: 1228px) {
  .mobileMenu {
    display: none;
  }

  .mobileMenuContainer {
    max-width: 1228px;
  }
}


.authLinks {
  margin-top: auto;
  display: flex;
  gap: 32px;
}

.authLink,
.authButton {
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
}

.authButton:hover,
.authLink:hover {
  text-decoration: underline;
}