.auth {
    background-color: var(--black-color);
    width: 100vw;
    height: 100vh;
    padding: 24px 20px;
}

.authContainer {
    display: flex;
        flex-direction: column-reverse;
        align-items: center;
}

.authTitle {
        font-family: var(--font-lora);
        font-size: 40px;
        font-weight: 400;
        line-height: 51.2px;
        text-align: center;
        text-transform: uppercase;
        color: var(--white-color);
        margin-bottom: 24px;
}

.authForm {
        display: flex;
        flex-direction: column;
        width: 320px;
}

.authForm label {
        font-family: var(--font-inter);
        font-size: 18px;
        font-weight: 400;
        line-height: 21.78px;
        text-align: left;
        color: var(--white-color);
        margin-bottom: 12px;
        max-width: 320px;
}

.authForm input {
font-size: 20px;
        font-weight: 400;
        line-height: 24.2px;
        text-align: left;

        width: 320px;
        height: 58px;
        color: var(--black-color);
        outline: none;

        padding: 18px;
        margin-bottom: 24px;
}

.authForm input:last-child {
        margin-bottom: 0;
}

.authForm ::placeholder {
        font-size: 18px;
        font-weight: 400;
        line-height: 21.78px;
        color: var(--primary-color);
}

.authForm button {
        font-size: 24px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
        color: var(--white-color);
        text-align: center;
}

.forgotPassword {
        font-size: 18px;
        font-weight: 400;
        line-height: 21.78px;
        text-align: right;
        color: var(--primary-color);
        margin-bottom: 24px;
}

.authDecoration {
    max-width: 290px;
}

.registerLink {
        display: none;
}

@media screen and (min-width: 768px) {
.authForm {
        width: 728px;
}

.authForm label {
                max-width: 728px;
}   

.authTitle {
        font-size: 64px;
        line-height: 81.92px;
        text-align: center;
        margin-bottom: 48px;
}

.authForm button {
        font-size: 28px;
        line-height: 20px;        
}

.authDecoration {
        max-width: 583px;
}
}

@media screen and (min-width: 1228px) {
        .authContainer {
                flex-direction: row;
                justify-content: center;
                gap:138px;
        }

        .authForm {
                width: 401px;
        }

        .authForm button {
                margin-bottom: 38px;
        }

                .authDecoration {
                        max-width: 583px;
                }

        .registerLink {
                display: block;
                text-align: center;
                        font-family: var(--font-inter);
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 21.78px;
                        text-transform: uppercase;
                color: var(--primary-color);
                margin-bottom: 24px;
        }



        
}
