/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/checkout/CheckoutPage.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.CheckoutPage_checkoutPage__vLXLh {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.CheckoutPage_title__eFzt4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.CheckoutPage_cartItems__LEkDE {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.CheckoutPage_cartItem__vGgmF {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.CheckoutPage_imageWrapper__43rW9 {
  flex: 0 0 100px;
  height: 100px;
  overflow: hidden;
}

.CheckoutPage_image__kHVQv {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CheckoutPage_details___7xt8 {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CheckoutPage_name__oLKyr {
  font-size: 16px;
  font-weight: bold;
}

.CheckoutPage_size__UIhL7,
.CheckoutPage_quantity__leDgH,
.CheckoutPage_price__U5_r9 {
  font-size: 14px;
}

.CheckoutPage_summary__nIhY4 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.CheckoutPage_total__lx9Ft span {
  color: #333;
}

.CheckoutPage_form__lpStP {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.CheckoutPage_formTitle__IEhP_ {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.CheckoutPage_input__SeJsq {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.CheckoutPage_submitButton__EqF__ {
  padding: 15px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: none;
  cursor: pointer;
}

