.searchContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.searchBar {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-color);
  padding: 16px 18px;
  min-width: 220px;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  color: var(--primary-color);
}

.closeButton {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
}

.searchButton {
  display: flex;
  margin-right: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Tablet */
@media (min-width: 768px) {
  .searchBar {
    min-width: 587px;
  }
}

/* Desktop */
@media screen and (min-width: 1228px) {
  .searchBar {
    min-width: 396px;
  }
}
