.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 24px;
  background-color: var(--white-color);
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
}

.menu-item {
  margin-right: 20px;
  font-size: 16px;
  color: var(--gray-color);
  text-decoration: none;
}

.icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.searchBar {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-color);
  padding: 10px 16px;
  border-radius: 8px;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  color: var(--gray-color);
}

.searchIcon {
  margin-left: 10px;
}

.closeButton {
  margin-left: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.menuButton {
  display: inline-block;
}

.desktopOnly {
  display: none;
}

.tabletAndMobile {
  display: inline-block;
}

.searchContainer {
  display: none;
}

.searchActive {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Адаптивность: для планшетов */
@media (min-width: 768px) {
  .menu {
    display: none;
  }

  .tabletAndMobile {
    display: inline-block;
  }

  .searchBar {
    width: 100%;
    max-width: 320px;
  }
}

/* Адаптивность: для десктопов */
@media (min-width: 1228px) {
  .menu {
    display: flex;
    align-items: center;
  }

  .desktopOnly {
    display: flex;
    gap: 16px;
  }

  .tabletAndMobile {
    display: none;
  }

  .searchBar {
    display: flex;
    max-width: 400px;
  }

  .icons {
    display: none;
  }
}