/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/Modal/Modal.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
/* frontend/src/components/Modal/Modal.module.css */

.Modal_overlay__2Sh3U {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal_modal__JNobJ {
    position: relative;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
}

.Modal_closeButton__7VSKG {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/auth/Auth.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.Auth_authWrapper__egwk6 {
    background-color: var(--black-color);
}

.Auth_authContainer__2JK_F {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.Auth_authContainer__2JK_F h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.Auth_authForm__GIM0l {
    display: flex;
    flex-direction: column;
}

.Auth_authForm__GIM0l label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.Auth_authForm__GIM0l input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Auth_submitButton__v_aQ3 {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Auth_submitButton__v_aQ3:hover {
    background-color: #005bb5;
}

.Auth_error__lfKpi {
    color: red;
    text-align: center;
    margin-bottom: 1rem;
}

.Auth_closeModalButton__CkRcm {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Auth_closeModalButton__CkRcm:hover {
    background-color: #005bb5;
}

.Auth_googleLogin__T6BnZ {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    justify-content: center;
}

.Auth_googleLogin__T6BnZ p {
    margin: 0;
    font-size: 1rem;
    color: #666;
}
