.header {
  width: 100%;
  padding: 20px 24px;
  background-color: var(--white-color);
  z-index: 10;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 320px;
  margin: 0 auto;
}

.desktopOnly {
  display: none;
}

.mobileOnly {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}

.mobileNav {
  display: flex;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
  }
}

@media (min-width: 1228px) {
  .container {
    max-width: 1228px;
  }

  .desktopOnly {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1228px;
  }

  .mobileOnly {
    display: none;
  }
}
/* ------------------------ */

.authDropdown {
  position: absolute;
  top: 70px;
  right: 20%;
  background-color: transparent;
  display: flex;
  z-index: 1000;
}

.authDropdown a,
.authDropdown button {
  text-decoration: none;
    color: var(--black-color);
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
    cursor: pointer;
    padding: 10px 25px;
    text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.78px;
      text-transform: uppercase;
}

.authDropdown p {
  color: #333;
  padding: 10px 10px;
}