.header {
  width: 100%;
  padding: 20px 24px;
  background-color: var(--white-color);
  z-index: 10;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 320px;
  margin: 0 auto;
}

.desktopOnly {
  display: none;
}

.mobileOnly {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}

.mobileNav {
  display: flex;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
  }
}

@media (min-width: 1228px) {
  .container {
    max-width: 1228px;
  }

  .desktopOnly {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1228px;
  }

  .mobileOnly {
    display: none;
  }
}
/* ------------------------ */

.authDropdown {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 150px;
  z-index: 1000;
}

.authDropdown a,
.authDropdown button {
  text-decoration: none;
  color: #0070f3;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0;
  text-align: left;
}

.authDropdown span {
  color: #333;
}

.authDropdown a:hover,
.authDropdown button:hover {
  text-decoration: underline;
}