/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/Slider/EmblaCarousel.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/

 /* Базовые стили (мобильная версия) */
/* .swiper {
  width: 292px;
  display: flex;
  justify-content: center;
  overflow: visible;
}

.swiper img{
  width: 292px;
}
.slide img {
  transition: transform 0.5s ease, opacity 0.5s ease;
} */

/* Центральный слайд */
/* .activeSlide img {
  width: 292px;
  height: 409px;
  transform: scale(1);
  opacity: 1;
} */

/* Левый и правый слайды */
/* .prevSlide img,
.nextSlide img {
  width: 251px;
  height: 352px;
  transform: scale(0.85);
  opacity: 0.7;
}

.customArrow {
  position: absolute;
  top: 33%;
  cursor: pointer;
  transform: translateY(-50%);
}

.icon_prev {
  position: absolute;
  left: -159px;
  width: 14px;
  height: 38px;
}

.icon_next {
  position: absolute;
  right: -159px;
  width: 14px;
  height: 38px;
}


@media (min-width: 768px) {
  .swiper {
      width: 663px;
        overflow: hidden;
    }
  
        .swiper img {
          width: 221px;
        }

    .customArrow {
      top: 45%;
      z-index: 10;
    }

    .icon_prev {
      left: -359px;
    }
  
    .icon_next {
      right: -359px;
    }
}


@media (min-width: 1228px) {
  .swiper {
    width: 876px;
  }

  .swiper img {
    width: 292px;
  }

    .customArrow {
      top: 50%;
      z-index: 10;
    }

    .icon_prev {
      left: -460px;
    }
  
    .icon_next {
      right: -460px;
    }
}   */


.EmblaCarousel_embla__GGRdB {
  max-width: 50rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 38%;
}

.EmblaCarousel_embla__viewport__ie1Fw {
  overflow: hidden;
}

.EmblaCarousel_embla__container__0wK_6 {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.EmblaCarousel_embla__slide__LdMVa {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.EmblaCarousel_embla__slide__img__spO_q {
  /* border-radius: 1rem; */
  display: block;
  height: 409px;
  width: 100%;
  object-fit: cover;
}

.EmblaCarousel_embla__controls__Mx1Dc {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  grid-gap: 1.2rem;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.EmblaCarousel_embla__buttons__gu9fU {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.6rem;
  gap: 0.6rem;
  align-items: center;
}

.EmblaCarousel_embla__button__76389 {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.EmblaCarousel_embla__button__76389:disabled {
  color: var(--detail-high-contrast);
}

.EmblaCarousel_embla__button__svg__I8ERv {
  width: 35%;
  height: 35%;
}

.EmblaCarousel_embla__dots__g5gdO {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.EmblaCarousel_embla__dot__mZYjy {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.EmblaCarousel_embla__dot__mZYjy:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}

.EmblaCarousel_embla__dot--selected__PLg_k:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1228px) {
  
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/Hero/Hero.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Hero_hero__1d92z {
  text-align: center;
  padding: 24px 0;
  position: relative;
}

.Hero_container__KML1d {
  max-width: 320px;
  margin: 0 auto;
}

.Hero_hero__subtitle__T0R_A {
  font-family: var(--font-lobster);
  font-weight: 400;
  font-size: 38px;
}

.Hero_hero__title__FnmzT {
  font-family: var(--font-lora);
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  color: var(--black-color);
  margin-top: -25px;
  margin-bottom: -25px;
}

.Hero_hero__subtitle_bottom__zjDnf {
  font-family: var(--font-kaushan);
  font-weight: 400;
  font-size: 28px;
  color: var(--black-color);
  margin-bottom: 24px;
}

.Hero_hero__textContainer__bZ3_e {
  display: none;
}

.Hero_hero__buyNow___fFA9 {
  font-weight: 400;
  font-size: 24px;
  line-height: 0.83333;
  text-transform: uppercase;
  padding: 19px 67px;
  border: none;
  background-color: var(--black-color);
  color: var(--white-color);
  margin-top: 46px;
}

.Hero_hero__decorContainer__bqgDq {
  display: flex;
  justify-content: space-between;
}

.Hero_hero__decorBlock_left__gMJ7g {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Hero_hero__decorBlock_right__GhXlR {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: -50px;
}

.Hero_hero__decorImage_left__GvRPb {
  width: 122px;
  height: 340px;
  margin-left: -20px;
}

.Hero_hero__decorImage_right__qG_nO {
  width: 150px;
  height: 203px;
}

.Hero_hero__text__XwNbf {
  font-weight: 400;
  font-size: 18px;
}

.Hero_hero__text_left__C_DGT {
  font-weight: 400;
  font-size: 18px;
  width: 157px;
}

.Hero_hero__text_right__zLkhq {
  font-weight: 400;
  font-size: 18px;
  width: 210px;
}

@media (min-width: 768px) {
  .Hero_container__KML1d {
    max-width: 768px;
  }

  .Hero_hero__subtitle_bottom__zjDnf {
    margin-bottom: 16px;
  }

  .Hero_hero__textContainer__bZ3_e {
    display: flex;
    justify-content: space-between;
  }

  .Hero_hero__decorContainer__bqgDq {
    display: flex;
    flex-direction: row;
  }

  .Hero_hero__textContainer__bZ3_e {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .Hero_hero__subtext_left__Cl5dA,
  .Hero_hero__subtext_right__0YeWZ {
    font-weight: 400;
    font-size: 18px;
  }

  .Hero_hero__subtext_left__Cl5dA {
    width: 155px;
    text-align: left;
  }

  .Hero_hero__subtext_right__0YeWZ {
    width: 210px;
    text-align: right;
  }

  .Hero_hero__text_left__C_DGT,
  .Hero_hero__text_right__zLkhq {
    display: none;
  }

  .Hero_hero__decorBlock_left__gMJ7g {
    margin-top: -120px;
  }

  .Hero_hero__decorBlock_right__GhXlR {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -60px;
  }
}

@media (min-width: 1228px) {
  .Hero_container__KML1d {
    max-width: 1228px;
  }

  .Hero_hero__subtitle_bottom__zjDnf {
    margin-bottom: 28px;
  }

  .Hero_hero__decorContainer__bqgDq {
    justify-content: space-between;
  }

  .Hero_hero__decorImage_left__GvRPb {
    width: 188px;
    height: 443px;
    position: absolute;
    top: 130px;
    right: calc(50% - -440px);
  }

  .Hero_hero__decorImage_right__qG_nO {
    position: absolute;
    top: 280px;
    left: calc(50% - -440px);
    width: 184px;
    height: 253px;
  }

  .Hero_hero__subtext_left__Cl5dA,
  .Hero_hero__subtext_right__0YeWZ {
    margin-top: -120px;
  }
}

