/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Hero/Hero.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Hero_hero__1d92z {
    text-align: center;
    padding: 24px 0;
    position: relative;
}

.Hero_container__KML1d {
    max-width: 320px;
    margin: 0 auto;
}

.Hero_hero__subtitle__T0R_A {
    font-family: var(--font-lobster);
    font-weight: 400;
    font-size: 38px;
}

.Hero_hero__title__FnmzT {
    font-family: var(--font-lora);
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: var(--black-color);
    margin-top: -25px;
    margin-bottom: -25px;
}

.Hero_hero__subtitle_bottom__zjDnf {
    font-family: var(--font-kaushan);
    font-weight: 400;
    font-size: 28px;
    color: var(--black-color);
    margin-bottom: 24px;
}

.Hero_hero__textContainer__bZ3_e {
    display: none;
}

.Hero_hero__buyNow___fFA9 {
    font-weight: 400;
    font-size: 24px;
    line-height: 0.83333;
    text-transform: uppercase;
    padding: 19px 68px;
    border: none;
    background-color: var(--black-color);
    color: var(--white-color);

}

.Hero_hero__decorContainer__bqgDq {
    display: flex;
    justify-content: space-between;
}

.Hero_hero__decorBlock_left__gMJ7g {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Hero_hero__decorBlock_right__GhXlR {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: -50px;
}

.Hero_hero__decorImage_left__GvRPb {
    width: 122px;
    height: 340px;
    margin-left: -20px;
}

.Hero_hero__decorImage_right__qG_nO {
    width: 150px;
    height: 203px;
}

.Hero_hero__text__XwNbf {
    font-weight: 400;
    font-size: 18px;
}

.Hero_hero__text_left__C_DGT {
    font-weight: 400;
    font-size: 18px;
    width: 157px;
}

.Hero_hero__text_right__zLkhq {
    font-weight: 400;
    font-size: 18px;
    width: 210px;
}

/* Адаптивность */
@media (min-width: 768px) {

    .Hero_container__KML1d {
        max-width: 768px;
    }

    .Hero_hero__subtitle_bottom__zjDnf {
        margin-bottom: 16px;
    }

    .Hero_hero__textContainer__bZ3_e {
        display: flex;
        justify-content: space-between;
    }

    .Hero_hero__decorContainer__bqgDq {
        display: flex;
        flex-direction: row;
        /* margin-top: -120px; */
    }

    .Hero_hero__textContainer__bZ3_e {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .Hero_hero__subtext_left__Cl5dA,
    .Hero_hero__subtext_right__0YeWZ {
        font-weight: 400;
        font-size: 18px;
    }

    .Hero_hero__subtext_left__Cl5dA {
        width: 155px;
        text-align: left;
    }

    .Hero_hero__subtext_right__0YeWZ {
        width: 210px;
        text-align: right;
    }

    .Hero_hero__text_left__C_DGT,
    .Hero_hero__text_right__zLkhq {
        display: none;
    }

    .Hero_hero__decorBlock_left__gMJ7g {
        margin-top: -120px;
    }

    .Hero_hero__decorBlock_right__GhXlR {
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: -60px;
    }
}

@media (min-width: 1228px) {

    .Hero_container__KML1d {
        max-width: 1228px;
    }

    .Hero_hero__subtitle_bottom__zjDnf {
        margin-bottom: 28px;
    }

    .Hero_hero__decorContainer__bqgDq {
        justify-content: space-between;
    }

    
    .Hero_hero__decorImage_left__GvRPb {
        width: 188px;
        height: 443px;
        position: absolute;
            top: 130px;
            left: 0px;
    }

    .Hero_hero__decorImage_right__qG_nO {
        position: absolute;
            top: 280px;
            right: 0px;
            width: 184px;
            height: 253px;
    }

    .Hero_hero__subtext_left__Cl5dA,
    .Hero_hero__subtext_right__0YeWZ {
        margin-top: -120px;
    }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Slider/Slider.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
/* .slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 106px;
}

.slider__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s ease;
    width: 100%;
    gap: 9px;
}

.slide {
    position: relative;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerSlide {
    transform: scale(1);
    z-index: 3;
}

.leftSlide {
    transform: scale(0.9);
    z-index: 2;
}

.rightSlide {
    transform: scale(0.9);
    z-index: 2;
}

.hiddenSlide {
    display: none;
}

.slider__arrow {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 4;
}

.slider__arrowLeft {
    position: absolute;
    left: 100px;
}

.slider__arrowRight {
    position: absolute;
    right: 100px;
}

@media (min-width: 768px) {
    .centerSlide img {
        width: 292px;
        height: 409px;
    }

    .leftSlide img,
    .rightSlide img {
        width: 251px;
        height: 352px;
    }
} */




/* Общие стили */
.Slider_slider__mLQdv {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 106px;
}

.Slider_slider__container__OUe25 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    gap: 9px;
    overflow: hidden;
}

/* Центральный слайд */
.Slider_centerSlideImg__olFir {
    width: 100%;
        /* Заполнит контейнер */
        height: auto;
        /* Сохраняет пропорции */
        max-width: 292px;
        max-height: 409px;
        z-index: 3;
        transition: all 0.3s ease-in-out;
}

/* Боковые слайды */
.Slider_sideSlideImg__burbP {
    width: 100%;
        /* Заполнит контейнер */
        height: auto;
        /* Сохраняет пропорции */
        max-width: 251px;
        max-height: 352px;
        opacity: 0.8;
        /* Для затемнения боковых слайдов */
        z-index: 2;
        transition: all 0.3s ease-in-out;
}

/* Центральный слайд */
.Slider_centerSlide__rYz7v {
    /* transform: scale(1); */
    z-index: 5;
}

.Slider_leftSlide__Zl8Rx {
    transform: translateX(-9px);
}

.Slider_rightSlide__M_P_9 {
    transform: translateX(9px);
}

/* Левый и правый слайды */
.Slider_leftSlide__Zl8Rx,
.Slider_rightSlide__M_P_9 {
    /* transform: scale(0.9); */
    z-index: 2;
}

/* Стрелки */
.Slider_slider__arrow__GVix_ {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 4;
    width: 14px;
    height: 38px;
}

/* Расположение стрелок */
.Slider_slider__arrowLeft__2cOmw {
    left: calc(50% - 155px);
    /* Слева от центрального слайда */
}

.Slider_slider__arrowRight__4xvOW {
    right: calc(50% - 155px);
    /* Справа от центрального слайда */
}

/* Мобильная версия */
@media (max-width: 360px) {
    .Slider_centerSlideImg__olFir {
        width: 292px;
        height: 409px;
    }

    .Slider_sideSlideImg__burbP {
        width: 251px;
        height: 352px;
    }

    .Slider_slider__container__OUe25 {
        gap: 0;
        /* Чтобы боковые слайды чуть-чуть выглядывали */
    }
}

/* Планшетная версия */
@media (min-width: 361px) and (max-width: 768px) {
    .Slider_centerSlideImg__olFir {
        width: 221px;
        height: 408px;
    }

    .Slider_sideSlideImg__burbP {
        width: 221px;
        height: 350px;
    }

    .Slider_slider__arrowLeft__2cOmw {
        left: calc(50% - 115px);
    }

    .Slider_slider__arrowRight__4xvOW {
        right: calc(50% - 116px);
    }
}

/* Десктопная версия */
@media (min-width: 769px) {
    .Slider_centerSlideImg__olFir {
        width: 292px;
        height: 409px;
    }

    .Slider_sideSlideImg__burbP {
        width: 251px;
        height: 352px;
    }
}
