/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Hero/Hero.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Hero_hero__1d92z {
    text-align: center;
    padding: 24px 20px;
    position: relative;
}

.Hero_hero__subtitle__T0R_A {
    font-family: var(--font-lobster);
    font-weight: 400;
        font-size: 38px;
}
.Hero_hero__title__FnmzT {
    font-family: var(--font-lora);
    font-weight: 400;
        font-size: 40px;
        text-transform: uppercase;
        color: var(--black-color);
        margin-top: -25px;
        margin-bottom: -25px;
}

.Hero_hero__subtitle_bottom__zjDnf {
    font-family: var(--font-kaushan);
font-weight: 400;
    font-size: 28px;
    color: var(--black-color);
    margin-bottom: 24px;
}

.Hero_hero__buyNow___fFA9 {
    font-weight: 400;
        font-size: 24px;
        line-height: 0.83333;
        text-transform: uppercase;
        padding: 19px 68px;
        border: none;
        background-color: var(--black-color);
        color: var(--white-color);

}

.Hero_hero__decorContainer__bqgDq {
    display: flex;
    justify-content: space-between;
}

.Hero_hero__decorBlock_left__gMJ7g {
    text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
}

.Hero_hero__decorBlock_right__GhXlR{
text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: -50px;
}

.Hero_hero__decorImage_left__GvRPb {
    width: 122px;
    height: 340px;
    margin-left: -20px;
}

.Hero_hero__decorImage_right__qG_nO {
    width: 150px;
    height: 203px;
}

.Hero_hero__text__XwNbf {
    font-weight: 400;
        font-size: 18px;
}

.Hero_hero__text_left__C_DGT {
    font-weight: 400;
        font-size: 18px;
    width: 157px;
}

.Hero_hero__text_right__zLkhq{
    font-weight: 400;
        font-size: 18px;
    width: 210px;
}

/* Адаптивность */
@media (min-width: 768px) {
    .Hero_hero__decorContainer__bqgDq {
        flex-direction: column;
        align-items: center;
    }

    .Hero_hero__decorBlock__FlNcs {
        margin-bottom: 1rem;
    }
}

@media (min-width: 1228px) {
    .Hero_hero__decorContainer__bqgDq {
        justify-content: space-between;
    }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Slider/Slider.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Slider_slider__mLQdv {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.Slider_slider__container__OUe25 {
    display: flex;
    position: relative;
    transition: all 0.5s ease;
    width: 100%;
}

.Slider_slider__slide__lcDBY {
    position: relative;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s ease;
}

.Slider_centerSlide__rYz7v {
    opacity: 1;
    transform: scale(1);
    z-index: 3;
}

.Slider_leftSlide__Zl8Rx {
    opacity: 0.8;
    transform: translateX(-120%) scale(0.9);
    z-index: 2;
}

.Slider_rightSlide__M_P_9 {
    opacity: 0.8;
    transform: translateX(120%) scale(0.9);
    z-index: 2;
}

.Slider_hiddenSlide__2spQ8 {
    display: none;
}

.Slider_slider__arrow__GVix_ {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 4;
}

.Slider_slider__arrowLeft__2cOmw {
    left: -20px;
}

.Slider_slider__arrowRight__4xvOW {
    right: -20px;
}

@media (max-width: 768px) {
    .Slider_centerSlide__rYz7v img {
        width: 292px;
        height: 409px;
    }

    .Slider_leftSlide__Zl8Rx img,
    .Slider_rightSlide__M_P_9 img {
        width: 251px;
        height: 352px;
    }
}

@media (min-width: 768px) {
    .Slider_centerSlide__rYz7v img {
        width: 292px;
        height: 409px;
    }

    .Slider_leftSlide__Zl8Rx img,
    .Slider_rightSlide__M_P_9 img {
        width: 221px;
        height: 350px;
    }
}
